<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>{{ title }}</title>
    {{ include('/App/Views/Templates/layout_head.twig') }}
</head>
<body>
{{ include('/App/Views/Templates/layout_header.twig') }}
<main class="container-fluid px-0 g-pt-65">
    <div class="row no-gutters g-pos-rel g-overflow-x-hidden">
        {{ include('/App/Views/Templates/sidebar_nav.twig') }}
        {% include content %}
    </div>
</main>
{{ include('/App/Views/Templates/layout_footer.twig') }}
</body>

</html>

