<tr id="contact-1-header" role="tab">
    <td class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-pl-25--sm">
        <a class="u-link-v5 g-color-black g-color-secondary--hover" href="/users/view/{{ user.userId }}">
        {{ user.userId }}
        </a>
    </td>
    <td class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm">
        <a class="u-link-v5 g-text-break-word g-color-black g-color-secondary--hover"
           href="mailto:{{ user.email }}">
            <span class="g-hidden-sm-down">{{ user.email }}</span>
        </a>
    </td>
    <td class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm">
        <a class="u-link-v5 g-color-black g-color-secondary--hover">
            <span class="g-hidden-sm-down">{{ user.createdAt }}</span>
        </a>
    </td>
    <td class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm">
        <a class="u-link-v5 g-color-black g-color-secondary--hover">
            <span class="g-hidden-sm-down">{{ user.updatedAt }}</span>
        </a>
    </td>
    <td class="g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm">
        {% if (user.deleted == 0) %}
        <span class="d-flex align-items-center justify-content-center u-tags-v1 g-hidden-sm-down text-center g-width-150--sm g-brd-around g-bg-gray-light-v8 g-bg-gray-light-v8 g-font-size-default g-color-gray-dark-v6 g-rounded-50 g-py-4 g-px-15">
            <span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-green g-mr-8"></span>
            Active
        </span>
        {% else %}
        <span class="d-flex align-items-center justify-content-center u-tags-v1 g-hidden-sm-down text-center g-width-150--sm g-brd-around g-bg-gray-light-v8 g-bg-gray-light-v8 g-font-size-default g-color-gray-dark-v6 g-rounded-50 g-py-4 g-px-15">
            <span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-lightred-v3 g-mr-8"></span>
            Deactivated
        </span>
        {% endif %}
        <span class="g-hidden-sm-up u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-lightblue-v3"></span>
    </td>
    <td class="g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm g-pr-25">
        <div class="d-flex align-items-center g-line-height-1">
            <a class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-mr-15" href="/users/edit/{{ user.userId }}">
                <i class="hs-admin-pencil g-font-size-18"></i>
            </a>
            <a class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover" href="/users/delete/{{ user.userId }}">
                <i class="hs-admin-trash g-font-size-18"></i>
            </a>
        </div>
    </td>
</tr>