<div class="g-pa-20">
    <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-28">Registration</h1>
    <div class="row">
        <div class="col-md-6">
            {% if (params['request']|length == 0 or data['errors']|length > 0) %}
            <form action="/users/registration" method="post"
                  class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
                <div class="form-group g-mb-30">
                    <label class="g-mb-10" for="user_email">Email</label>

                    <div class="g-pos-rel">
                        <input id="user_email" name="user[email]"
                               class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10"
                               type="text" placeholder="Email" value="{{ params['request']['email'] }}">
                        {% if data['errors']['email']|length > 0 %}
                            <small class="g-font-weight-300 g-font-size-12 g-color-red g-pt-5">
                                {{ data['errors']['email'] }}
                            </small>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group g-mb-30">
                    <label class="g-mb-10" for="user_password">Password</label>

                    <div class="g-pos-rel">
                        <input id="user_password" name="user[password]"
                               class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10"
                               type="password" placeholder="Password" value="{{ params['request']['password'] }}">
                        {% if data['errors']['password']|length > 0 %}
                            <small class="g-font-weight-300 g-font-size-12 g-color-red g-pt-5">
                                {{ data['errors']['password'] }}
                            </small>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group g-mb-30">
                    <label class="g-mb-10" for="user_repeat_password">Repeat Password</label>

                    <div class="g-pos-rel">
                        <input id="user_repeat_password" name="user[repeatPassword]"
                               class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10"
                               type="password" placeholder="Repeat Password" value="{{ params['request']['repeatPassword'] }}">
                        {% if data['errors']['repeatPassword']|length > 0 %}
                            <small class="g-font-weight-300 g-font-size-12 g-color-red g-pt-5">
                                {{ data['errors']['repeatPassword'] }}
                            </small>
                        {% endif %}
                    </div>
                </div>

                <button class="btn btn-md btn-block u-btn-blue rounded text-uppercase g-py-13" type="submit">
                    Registration
                </button>

                <a href="/users/login" class="btn btn-md btn-block u-btn-outline-blue rounded text-uppercase g-py-13">
                    Login
                </a>
            </form>
            {% else %}
                <div class="noty_bar noty_type__success noty_theme__unify--v1 g-mb-25">
                    <div class="noty_body">
                        <div class="g-mr-20">
                            <div class="noty_body__icon">
                                <i class="hs-admin-check"></i>
                            </div>
                        </div>

                        <div>{{ data['message'] }}</div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>