<tr id="contact-1-header" role="tab">
    <td class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-pl-25--sm">
        <a class="u-link-v5 g-color-black g-color-secondary--hover" href="/persons/view/{{ person.personId }}">
        {{ person.personId }}
        </a>
    </td>
    <td class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm">
        <a class="u-link-v5 g-color-black g-color-secondary--hover">
            <span class="g-hidden-sm-down">{{ person.firstName }}</span>
        </a>
    </td>
    <td class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm">
        <a class="u-link-v5 g-color-black g-color-secondary--hover">
            <span class="g-hidden-sm-down">{{ person.lastName }}</span>
        </a>
    </td>
    <td class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm">
        <a class="u-link-v5 g-color-black g-color-secondary--hover">
            <span class="g-hidden-sm-down">{{ person.dateBirth }}</span>
        </a>
    </td>
    <td class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm">
        <a class="u-link-v5 g-color-black g-color-secondary--hover">
            <span class="g-hidden-sm-down">{{ person.gender }}</span>
        </a>
    </td>

    <td class="g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm g-pr-25">
        <div class="d-flex align-items-center g-line-height-1">
            <a class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-mr-15" href="/persons/edit/{{ person.personId }}">
                <i class="hs-admin-pencil g-font-size-18"></i>
            </a>
            <a class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover" href="/persons/delete/{{ person.personId }}">
                <i class="hs-admin-trash g-font-size-18"></i>
            </a>
        </div>
    </td>
</tr>